 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .box{
        background-color: red;
        height: 200px;
    }
    
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .box{
        background-color: rgb(55, 0, 255);
        
    }
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .box{
        background-color: rgb(0, 255, 34);
       
    }
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .box{
        background-color: rgb(251, 255, 0);
       
    }
    
}
/*Extra Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .box{
        background-color: rgb(255, 0, 212);
     
    }
    
}

/* Extra Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
    .box{
        background-color: rgb(14, 13, 13);
        
    }
    
}